body{
  overflow-x: hidden;
  white-space: nowrap;
  height: fit-content;
  
}

.img{
  background-size: cover;
  background-position: center;
  width: -webkit-fill-available;
  min-height: 140%;
  position: absolute;
  

}

#card {
  background-color: #00000095;
  color: white;
}

#btn-lg{
  padding: .2rem 0.7rem;
  border-radius: .5rem;
  
}

#form{
  background-color: #fff0;
  border: none ;
  border-bottom : 2px solid white ;
  color: white
}



